body {
  width: 85%;
  margin: 0 auto;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

.users_list li span {
  padding-right: .5em;
}

form > div {
  padding: .5em 0;
}

.error {
  color: #c00;
  font-weight: bold;
  font-style: italic;
}