extends layout

block content
    h1 Add a new User
    form(action="/save_user" method="post")
        div
            label First name :
                br
                input(type="text", name="fName" placeholder='Enter first name here')
        div
            label Second name :
                br
                input(type="text", name="sName" placeholder='Enter second name here')
        input(type="submit")