extends layout

block content
  h1= message
  h2 Status #{error.status}
  p Oh... Maybe, in future, we will create page which appear for Your search request, but now this is impossible to display (
    
  //pre #{error.stack}
