extends layout

block content
  h1= message
  h2 Status #{error.status}
  p Oh... Maybe, in future, we will create page which appear for Your search request, but now this is impossible to display (
  p You can go to the Main page and try to search again 
    a(href='/') Go home :)
    
  //pre #{error.stack}
