extends layout

block content
  h1= title
  h2 Output username here
  p Welcome to #{title}
  div.description
    p This app name: #{appName}.
    p For showing user list, click 
      a(href='/users') here
  ul
  for tex in text
    li=tex.text
