extends layout

block content
  h1= title
  p Welcome to #{title}
  div.description
    p This app name: #{appName}.
    p If You have any trouble or need quality support, contact with our team.
    p For showing user list, click 
      a(href='/users') here
    
