extends layout

block content
    h1= title
    p User #{fName} #{lName} with twitter name #{twitterAccount} add to current 
        a(href='/users') userslist
    p You can add another user 
        a(href='/add') here