extends layout

block content
    h1= title
    if !mongo_result
        span.error Database connection failed ! Users list unavaliable now :(
    else
        p List of all users
        ol.users_list
            for user in mongo_result
                li
                    span.first_name= user.firstName
                    span.second_name= user.lastName /*change secondName -> lastName in form*/
                    span.twitter= user.twitter
        
        p You can add new user 
            a(href='/add') here